extends ../shared/layout
block main-content
    h1 Log in
    form(method="post" action="/users/authenticate")
        label(for="username") Username
        br
        input#username(type="text" name="username" value=username)
        br
        label(for="password") Password
        br
        input#password(type="password" name="password")
        br
        input(type="submit" value="Log in")