extends ../shared/layout
block main-content
    h1 Edit article
    form(method="post" action="/articles/put/" + _id)
        label(for="title") Title
        br
        input#title(type="text" name="title" value=title)
        br
        label(for="content") Content
        br
        textarea#content(name="content")= content
        br
        input(type="submit" value="Edit")