extends ../shared/layout
block main-content
    h1 All Articles
    ul.articles-list
        each article in articles
            li
                a(href="/articles/details/" + article._id)= article.title
        else
            span= "No articles yet"